<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      body {
        font-family: Arial, Helvetica, sans-serif;
        background-color: #f1f1f1;
        margin: 15px;
      }

      form {
        width: 100%;
        max-width: 340px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
      }

      form button {
        width: 150px;
        height: 25px;
      }

      th {
        text-align: left;
      }
    </style>
    <title>Cadastro/Edição aluno</title>
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="/alunos<%= aluno ? '/' + aluno.id : '' %>" method="POST">
      <table>
        <tr>
          <th><label for="nome">Nome:</label></th>
          <td>
            <input
              type="text"
              name="nome"
              value="<%= aluno ? aluno.nome : '' %>"
            />
          </td>
        </tr>
        <tr>
          <th><label for="dataNasc">Data de Nascimento:</label></th>
          <td>
            <input
              type="date"
              name="dataNasc"
              value="<%= aluno ? aluno.dataNasc : '' %>"
            />
          </td>
        </tr>
        <tr>
          <th><label for="matricula">Matrícula:</label></th>
          <td>
            <input
              type="text"
              name="matricula"
              value="<%= aluno ? aluno.matricula : '' %>"
            />
          </td>
        </tr>
        <tr>
          <th><label for="status">Status:</label></th>
          <td>
            <select name="status" id="">
              <option value="Ativo">Ativo</option>
              <option value="Inativo">Inativo</option>
            </select>
          </td>
        </tr>
        <tr>
          <th><label for="email">E-mail:</label></th>
          <td>
            <input
              type="email"
              name="email"
              value="<%= aluno ? aluno.email : '' %>"
            />
          </td>
        </tr>
      </table>
      <button type="submit">Salvar</button>
      <button type="button" onclick="window.location.href='/'">Cancelar</button>
    </form>
  </body>
</html>
