<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      body {
        font-family: Arial, Helvetica, sans-serif;
        background-color: #f1f1f1;
        margin: 15px;
      }

      table {
        margin-top: 15px;
      }

      td,
      th {
        padding: 0.5rem;
      }

      th {
        text-align: left;
      }
    </style>
    <title>Alunos</title>
  </head>
  <body>
    <h1>Alunos</h1>
    <button onclick="window.location.href='/aluno'">Cadastrar Aluno</button>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Data de Nascimento</th>
          <th>Matrícula</th>
          <th>Status</th>
          <th>E-mail</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% alunos.forEach((aluno) => { %>
        <tr>
          <td><%= aluno.id %></td>
          <td><%= aluno.nome %></td>
          <td><%= aluno.dataNasc %></td>
          <td><%= aluno.matricula %></td>
          <td><%= aluno.status %></td>
          <td><%= aluno.email %></td>
          <td>
            <button onclick="window.location.href='aluno/<%= aluno.id %>'">
              Editar
            </button>
          </td>
          <td>
            <button onclick="del('<%= aluno.id %>')">Excluir</button>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
    <script>
      function del(id) {
        fetch(`/alunos/${id}`, {
          method: "DELETE",
        }).then(window.location.reload());
      }
    </script>
  </body>
</html>
